<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.dataviz.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
</head>

<body>
    <div id="header">
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <section id="skinselectorsection">
            @Html.Partial("_SelectSkinPartial")
        </section>
    </div>
    <section id="menu">
        @Html.Partial("_MenuPartial")
    </section>
    <div class="k-block">
        <div class="k-header k-shadow">@ViewBag.Title</div>
        <div class="k-block-content">
        @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var titlefixedtop;

        $(".themeChooser").kendoDropDownList({
            dataSource: [
                { text: "Black", value: "black" },
                { text: "Blue Opal", value: "blueopal" },
                { text: "Default", value: "default" },
                { text: "Metro", value: "metro" },
                { text: "Silver", value: "silver" }
            ],
            change: function (e) {
                var theme = (this.value() || "default").toLowerCase();

                changeTheme(theme);
            }
        });

        $(document).ready(function () {
            $("#menu").addClass("defaultmenu");
            titlefixedtop = $("#menu").position().top - 30;
            TransformKendo();
        });

        $(window).scroll(function () {
            var obj = $find("#menu");
            if (obj != null) {
                if ($(window).scrollTop() >= titlefixedtop) {
                    $("#menu").addClass("fixedtop").removeClass("defaultmenu");
                }
                else {
                    $("#menu").removeClass("fixedtop").addClass("defaultmenu");
                }
            }
        });

        //Thay đổi giao diện các control chuẩn của html thành của kendo
        function TransformKendo() {
            $("input").each(function () {
                var type = $(this).attr("type");
                if (type == 'text' || type == 'password' || type == 'email') {
                    $(this).addClass('k-textbox');
                } else if (type == 'submit' || type == 'reset') {
                    $(this).addClass('k-button');
                }
            });
        }
    </script>
</body>
</html>
