@model PharmacyStore.Models.RegisterModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="table-form">
        <tr>
            <td>
                @Html.LabelFor(m => m.UserName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email)
            </td>
            <td>
                @Html.EditorFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ConfirmEmail)
            </td>
            <td>
                @Html.EditorFor(m => m.ConfirmEmail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Gender)
            </td>
            <td>
                @Html.Kendo().DropDownListFor(m => m.Gender).BindTo(new SelectList(PharmacyStore.Models.OtherList.Gender,"Key","Value"))
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Identification)
            </td>
            <td>
                @Html.EditorFor(m => m.Identification)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Birthdate)
            </td>
            <td>
                @Html.Kendo().DatePickerFor(m => m.Birthdate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Mobile)
            </td>
            <td>
                @(Html.TextBoxFor(m => m.Mobile))
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.UserRefer)
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserRefer)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.TermsAccepted)
                @Html.LabelFor(m => m.TermsAccepted)
            </td>
        </tr>
    </table>
    
    <input type="submit" value="Đăng ký" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}