<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
</head>

<body>
    <div id="header">
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <section id="skinselectorsection">
            @Html.Partial("_SelectSkinPartial")
        </section>
    </div>
    <div id="titlefixed">
        <section id="menu">
            @Html.Partial("_MenuPartial")
        </section>
        <div id="contenttitle">
            @ViewBag.Title
        </div>
    </div>
    <div id="content">
        <section id="main">
            @RenderBody()
        </section>
    </div>
    )
    
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var titlefixedtop;

        $(".themeChooser").kendoDropDownList({
            dataSource: [
                { text: "Black", value: "black" },
                { text: "Blue Opal", value: "blueopal" },
                { text: "Default", value: "default" },
                { text: "Metro", value: "metro" },
                { text: "Silver", value: "silver" }
            ],
            change: function (e) {
                var theme = (this.value() || "default").toLowerCase();

                changeTheme(theme);
            }
        });

        $(document).ready(function () {
            $("#titlefixed").addClass("defaultmenu");
            titlefixedtop =
                $("#titlefixed").position().top - 30;
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() >= titlefixedtop) {
                $("#titlefixed").addClass("fixedtop").removeClass("defaultmenu");
            }
            else {
                $("#titlefixed").removeClass("fixedtop").addClass("defaultmenu");
            }
        });
    </script>
</body>
</html>
