@model PharmacyStore.Models.SY_STORE

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<h2>Details</h2>

<fieldset>
    <legend>SY_STORE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StoreTelephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoreTelephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StoreTaxNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoreTaxNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StoreName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoreName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StoreFax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoreFax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StoreAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoreAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerFullname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerFullname)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
