@model PharmacyStore.Models.SY_STORE

@{
    ViewBag.Title = "Thông tin tiệm thuốc";
}
@Html.AntiForgeryToken()
@CommonFunction.BuildToolbar(ToolbarItem.Edit, ToolbarItem.Delete)

<div id="FormEdit">
    @
</div>

<script>
    var formState;
    $(document).ready(function () {
        $('#toolbar').scrollToFixed({ marginTop: 40 });
        EnabledInputs(false);
    });

    function ToolbarCommand(command) {
        //command: trả về command của Toolbar khi click, command lấy trong CommonMessage
        switch (command) {
            case "@CommonMessage.TOOLBARITEM_EDIT":
                formState = "@CommonMessage.STATE_EDIT";
                EnabledInputs(true);
                break;
            case "@CommonMessage.TOOLBARITEM_CANCEL":
                formState = "@CommonMessage.STATE_NORMAL";
                EnabledInputs(false);
                break;
            case "@CommonMessage.TOOLBARITEM_DELETE":
                if (confirm("Bạn có muốn xóa dữ liệu không?")) {

                }
                break;
            case "@CommonMessage.TOOLBARITEM_SAVE":
                var data = $("form").serialize();
                switch (formState) {
                    case "@CommonMessage.STATE_EDIT":
                        var actionURL = '@Url.Action("Edit")';
                        $.appAjax({
                            type: "POST",
                            url: "Store/Edit",
                            data: data
                        });
                            break;
                    }
                    break;
            }
        }

        function EnabledInputs(enabled) {
            $(".input").each(function () {
                if (enabled) {
                    $(this).removeClass("disabled");
                    $(this).removeAttr("disabled");
                } else {
                    $(this).addClass("disabled");
                    $(this).attr('disabled', 'disabled');
                }
            })

            $(".input-unstyled").each(function () {
                if (enabled) {
                    $(this).removeAttr("disabled");
                } else {
                    $(this).attr('disabled', 'disabled');
                }
            })
        }
</script>
